.app-hedding{
    width: 50%;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    animation: animate-app-header;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animate-app-header {
    0%{
        /* background-color: rgb(212, 212, 57); */
        transform: scale(1.1) rotate(-3deg);
    }
    20%{
        /* background-color: rgb(32, 177, 27); */
        /* transform: scale(.9); */
    }
    40%{
        /* background-color: rgb(59, 72, 187); */
        /* transform: scale(1.2); */
    }
    50%{
        transform: scale(.9) rotate(0deg);
    }
    60%{
        /* background-color: rgb(194, 40, 47); */
        /* transform: scale(.8); */
    }
    80%{
        /* background-color: rgb(187, 35, 149); */
        /* transform: scale(1.1); */
    }
    100%{
        /* background-color: rgb(37, 230, 30); */
        transform: scale(1.1) rotate(3deg);
    }
}

.button{
    padding: 2rem 4rem;
    border : 3px solid white;
    margin: 1rem;
    min-width: 7rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s, transform .2s;
}

.button:hover{
    background-color: rgb(100,100,100,.6);
    box-shadow: 0 0 10px 2px white;
    transform: scale(1.1);
}

.more-items-message{
    color: white;
    position: fixed;
    bottom: 10rem;
    right: -30px;
    font-size: .6rem;
    transform: rotate(270deg);
}
